/* themes */
@import url("../../style/themes.css");

/* Container proyects */
.proyects_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.proyects_list > .notProyect {
  grid-column: 1 / -1;
}

/* Nav Bar */
.nav-proyects {
    width: 100%;
    margin-top: 40px;
    border-bottom: solid 1px var(--background2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 7px 40px;
}

.category-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.icon {
    margin-right: 10px;
}

.container-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Not proyects */
.notProyect {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--background2);
    margin-top: 30px;
}