/* themes */
@import url('../../style/themes.css');
@import url('../../style/main.css');

.btn {
    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.btn.primary:hover {
    box-shadow: 0 0 6px var(--secondary);
}

.btn:active {
    opacity: 0.6;
}

.primary {
    background-color: var(--primary);
    color: var(--text-alt);
    border: 2px solid var(--primary);
}

.outlined.primary {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.outlined.primary:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.icon {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--primary);
   padding: 10px;
}

.icon:hover {
   background-color: var(--secondary);
   color: var(--text-alt);
}

.floated {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    background-color: var(--primary);
    color: var(--text-alt);
}
