/* themes */
@import url('../../style/themes.css');
@import url('../../style/main.css');

.btn {
    width: auto;
    height: 40px;
    padding: 0 10px;
    border-radius: 7px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.btn.primary:hover {
    box-shadow: 0 0 3px var(--secondary);
}

.btn:active {
    opacity: 0.6;
}

.primary {
    background-color: var(--primary);
    color: var(--text-alt);
    border: 2px solid var(--primary);
}

.outlined.primary {
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.outlined.primary:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.icon {
   width: 40px;
   height: 40px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--primary);
   padding: 10px;
   transition: all 0.2s ease-in-out;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
}

.icon:hover {
   background-color: var(--primary);
   color: var(--text-alt);
}

.floated {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    background-color: var(--primary);
    color: var(--text-alt);
}

.ghost {
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
}

.ghost:hover {
    opacity: 0.6;
}

.notHover {
    background-color: transparent !important;
}
