/* === NAVBAR === */
.navbar {
  position: fixed;
  top: 55px;
  left: 0;
  width: 250px;
  height: calc(100vh - 55px);
  background: var(--surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  grid-area: navbar;
  box-shadow: var(--shadowL);
}

/* Estado oculto */
.navbar.hidden {
  width: 70px;
}

/* === CONTENEDOR DE LINKS === */
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

/* === LINK GENERAL === */
.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  margin: 5px 0;
  border-radius: var(--radius);
  transition: all 0.25s ease;
  color: var(--text);
  overflow: hidden;
}

.link > svg {
  --area: 20px;
  color: var(--primary);
  margin-right: 20px;
  margin-left: 15px;
  flex-shrink: 0;
  width: var(--area);
  height: var(--area);
  transition: color 0.25s ease, transform 0.25s ease;
}

/* === TEXTO === */
.text {
  min-width: calc(230px - 81px);
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.25s ease, transform 0.25s ease, width 0.25s ease;
  white-space: nowrap;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transition: opacity 0.25s ease, transform 0.25s ease, width 0.25s ease;
  -moz-transition: opacity 0.25s ease, transform 0.25s ease, width 0.25s ease;
  -ms-transition: opacity 0.25s ease, transform 0.25s ease, width 0.25s ease;
  -o-transition: opacity 0.25s ease, transform 0.25s ease, width 0.25s ease;
}

/* === LINK OCULTO === */
.link.hidden > .text {
  opacity: 0;
}

/* === HOVER === */
.link:hover,
.active {
  background: var(--surface-alt);
  color: var(--text);
  transform: scale(1.05);
}

.link:hover > svg {
  color: var(--text);
}

/* === ACTIVO === */
.active > svg {
  color: var(--text);
}

.active:hover > svg {
  color: var(--text);
}
