/* === GLOBAL CSS === */

/* temas */
@import './theme.css';

/* static */
:root {
  --radius: 10px;
  --shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  --shadowL: 2px 10px 5px rgba(0, 0, 0, 0.08);
  /* --transition: 0.25s ease; */
}

/* === RESET === */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Aplica la transición global a todos los elementos */
html, body, * {
   transition: all .25s ease-in-out;
   -webkit-transition: all .25s ease-in-out;
   -moz-transition: all .25s ease-in-out;
   -ms-transition: all .25s ease-in-out;
   -o-transition: all .25s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: 'Segoe UI', 'Inter', 'Roboto', system-ui, sans-serif;
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
  overflow: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: var(--primary);
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 100;
  letter-spacing: 0.25px;
  line-height: 1.3;
  color: var(--text);
}

/* jerarquía visual limpia */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

h3 {
  font-size: 1.2rem;
  color: var(--text-muted);
}

button {
  cursor: pointer;
  color: var(--text);
  border-radius: var(--radius);
}