.header {
    width: 100%;
    height: 55px;
    padding: 0px 20px;
    background-color: var(--surface);
    box-shadow: var(--shadow);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: header;
}

.header > h1 {
    margin-left: 20px;
    line-height: normal;
}

.btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.btnGroup button {
    margin: 0 6px;
}

.searchHeader {
    margin-right: 20px;
}