.listNotifi {
    padding: 10px;
    gap: 10px;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 350px;
    height: 400px;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    background-color: var(--surface-alt);
    box-shadow: 0px 0px 10px #a5a5a5;
    align-items: center;
    border-radius: var(--radius);
    z-index: 10000;
    
}

/* Animation */

.listNotifi {
    opacity: 0;
    visibility: hidden;
    transition: opacity .25s ease-in-out, translate .25s ease-in-out, visibility .25s ease-in-out;
    translate: 0 -10px;
}

.listNotifi.show {
    visibility: visible;
    opacity: 1;
    translate: 0 0;
}

