/* Theme */
@import url('../../style/themes.css');

.card {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    overflow: hidden;
  }

  .head-card, .content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .head-card {
    font-size: 23px;
    margin-top: 10px;
    height: 30%;
    color: var(--primary);
  }

  .content-card {
    height: 70%;
    color: #fff;
    font-weight: 600;
    background-color: var(--primary);
  }
