.notiPortal {
    width: 350px;
    height: 70%;
    background-color: var(--primary-hover);
    position: fixed;
    top: 70px;
    right: -350px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.notiPortal div {
    translate: 0 0;
    animation: transY .25s ease-in-out forwards;
}

@keyframes transY {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-350px);
    }
}

