/* Variables */
/* This file contains the variable definitions for the theme */
:root {
    /* Brand Colors */
    --primary: #0F766E;
    --secondary: #57616e;
    --success:    #22C55E;
    --warning:    #FACC15; 
    --error:      #EF4444; 
    --info:       #0EA5E9; 
  
    /* Backgrounds */
    --background:     #F9FAFB; 
    --background2:    #d3d4d6; 
    --background-dark:#1F2937; 
  
    /* Text */
    --text:       #3b4552; 
    --text-alt: #FFFFFF; 
  }
  