.project {
  width: 100%;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.2rem;
  padding: 1.5rem;
}

.content {
  padding-top: 35px;
}