.container {
  width: auto;
  margin: auto;
  padding: 20px;
  /* background-color: var(--surface); */
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.title {
  text-align: center;
  margin-bottom: 45px;
}

.sectionList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.section {
  width: 100%;
  max-width: 750px;
  padding: 20px;
  border-radius: var(--radius);
  background-color: var(--surface-alt);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.section p {
  margin: 20px 0;
}

.stepList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: var(--radius);
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
  background-color: var(--surface);
}

.step label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  line-height: 40px;
}

.step input {
  --area: 20px;
  width: var(--area);
  height: var(--area);
  border-radius: var(--radius);
  cursor: pointer;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.step input:checked {
  accent-color: var(--success);
}
