.dashboardLayout {
  display: grid;
  grid-template-rows: 55px calc(100vh - 55px);
  grid-template-columns: var(--columnToggleWidth) 1fr;
  grid-template-areas: 'header header' 'navbar main';
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
